.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f2f2f2;
  padding-top: 100px;
}

.content {
  margin-top: 20px;
  width: 100%;
  max-width: 800px;
}

.box-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.meiquer-color,
.white-box {
  background-color: #1385a1;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.meiquer-color:hover,
.white-box:hover {
  transform: translateY(-5px);
}

.blue-title,
.white-title {
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button:hover {
  background-color: #0056b3;
  transform: translateY(-3px);
}

label[for="nombre"],
label[for="fecha"] {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="text"],
input[type="date"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="date"]:focus {
  outline: none;
  border-color: #007bff;
}

input[type="range"] {
  width: 100%;
  height: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  overflow: hidden;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 2px solid #ffffff;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

input[type="range"]::-webkit-slider-thumb:hover {
  border-color: #000000;
}

input[type="range"]::-webkit-slider-thumb:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: #ffffff;
}
